<div data-controller="dropdown" class="relative">
  <div id="theme-icon-container" class="flex">
    <button
      id="theme-selector-button"
      type="button"
      title="Select Theme"
      class="cursor-pointer"
      data-action="dropdown#toggle click@window->dropdown#hide"
    >
      <%= raw @current_theme.icon %>
    </button>
  </div>

  <div
    data-dropdown-target="menu"
    class="
      hidden transition transform origin-top-right absolute right-0 mt-2
      w-44 rounded-md shadow-lg bg-white dark:bg-gray-900 dark:text-gray-400
      overflow-hidden ring-1 ring-gray-200 ring-opacity-5 focus:outline-none
      z-50
    "
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="user-menu-button"
    tabindex="-1"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
  >
    <% @themes.each do |theme| %>
      <%= form_tag(set_theme_path, authenticity_token: false) do %>
        <button
          type="submit"
          title="<%= theme.name.titleize %> Theme"
          name="theme"
          value="<%= theme.name %>"
          class="flex space-x-4 px-4 w-full py-2 text-gray-800 dark:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-800 <%= "text-blue-800 bg-blue-200 dark:bg-gray-800 dark:text-gray-200" if @current_theme == theme %>"
          role="menuitem"
          tabindex="-1"
        >
          <div class="flex-none"><%= raw theme.icon %></div>

          <span class="grow text-left font-semibold">
            <%= theme.name.titleize %>
          </span>

          <% if @current_theme == theme %>
            <div class="flex-none">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          <% end %>
        </button>
      <% end %>
    <% end %>
  </div>
</div>
