<div class="page page--search">
  <header class="page__header">
    <h3>Results for: "<%= search_query %>"</h3>
  </header>

  <section class="search-results">
  <% @search.results.each do |result| %>
    <div class="search-result">
      <header class="search-result__header">
        <div class="search-result__method-sequence">
          <% if result.try(:call_sequence) && !result.call_sequence.empty? %>
            <% result.call_sequence.each do |seq| %>
              <h4><%= link_to seq, result_url(result) %></h4/>
            <% end %>
          <% else %>
            <h4><%= link_to result.name, result_url(result) %></h4>
          <% end %>
        </div>
        <div class="search-result__decorators">
          <%= render partial: 'layouts/type', locals: { object: result } %>
        </div>
      </header>
      <div class="search_result__description">
        <%= raw result.description %>
      </div>
    </div>
  <% end %>
  </section>

  <div class="pagination">
    <%= paginate @search %>
  </div>
</div>
