<% content_for(:title) { @object.name } %>

<section class="page page--object">
  <header class="page__header">
    <h1 class="page__title">
      <%= link_to @object.name, object_url(version: ruby_version, object: @object) %>
    </h1>
    <%= render partial: 'layouts/type', locals: { object: @object } %>
    <div class="object-description">
      <%= raw @object.description %>
    </div>
  </header>
  <div class="page__description">
    <%= raw @object.description %>
  </div>
  <hr/>
  <div class="methods">
    <%= render partial: 'objects/method', collection: @object.ruby_methods.ordered, cache: true %>
  </div>
</section>
