<% title @object.constant %>
<% set_meta_tags canonical: object_url(object: @object.path, version: Current.default_ruby_version) unless Current.ruby_version.default? %>

<div class="max-w-screen-xl mx-auto px-3 md:px-0 lg:flex">
  <%= render "objects/sidebar" %>
  <div class="w-full mt-16 lg:mt-20 lg:w-3/4">
    <div class="mx-3 mt-3 mb-8">
      <div class="flex flex-wrap pb-2">
        <div class="w-full md:w-6/12">
          <h1 class="lg:text-4xl text-xl text-gray-800 dark:text-gray-200 font-semibold">
            <%= link_to @object.constant, object_url(version: Current.ruby_version, object: @object.path) %>
          </h1>
        </div>
        <div class="w-full md:w-6/12 md:text-right mt-2 md:mt-0 cursor-default">
          <% if @object.class_object? %>
            <span class="py-1 px-2 rounded bg-gray-200 dark:bg-gray-700 text-sm">Class</span>
          <% elsif @object.module_object? %>
            <span class="py-1 px-3 rounded bg-gray-200 dark:bg-gray-700 text-sm">Module</span>
          <% end %>
        </div>
      </div>
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
      </div>
      <div class="ruby-documentation">
        <%= raw @object.description %>
      </div>
    </div>
    <% unless @object.ruby_constants.empty? %>
      <%= render "objects/show/constants",
          constants: @object.ruby_constants, title: "Constants" %>
    <% end %>
    <% unless @object.ruby_attributes.empty? %>
      <%= render "objects/show/attributes",
          attributes: @object.ruby_attributes, title: "Attributes" %>
    <% end %>
    <% unless @object.ruby_class_methods.empty? %>
      <%= render "objects/show/methods",
          methods: @object.ruby_class_methods, title: "Class Methods" %>
    <% end %>
    <% unless @object.ruby_instance_methods.empty? %>
      <%= render "objects/show/methods",
          methods: @object.ruby_instance_methods, title: "Instance Methods" %>
    <% end %>
  </div>
</div>
