<% content_for(:title) { @object.name } %>

<div class="max-w-screen-xl mx-auto md:px-6 px-3 pt-20">
  <div class="p-3 pb-5 border-b border-gray-200">
    <div class="flex flex-wrap">
      <div class="w-full md:w-6/12">
        <h1 class="lg:text-3xl text-2xl font-bold"><%= link_to @object.name, object_url(version: ruby_version, object: @object) %></h1>
      </div>
      <div class="w-full md:w-6/12 md:text-right mt-2 md:mt-0">
        <% if @object.class_object? %>
        <span class="py-1 px-2 rounded bg-gray-100 text-gray-600 text-sm">Class</span>
        <% elsif @object.module_object? %>
        <span class="py-1 px-3 rounded bg-gray-100 text-gray-600 text-sm">Module</span>
        <% end %>
      </div>
    </div>
    <%= raw @object.description %>
  </div>
  <% @object.ruby_methods.ordered.each do |m| %>
    <div class="p-3 my-6 rounded hover:bg-gray-100 relative z-0">
      <a style="left:0; top: -80px; position: absolute;" id="<%= method_anchor(m) %>"></a>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12">
          <% if m.call_sequence.empty? %>
            <h4 class="lg:text-2xl text-lg font-bold"><%= link_to m.name, object_path(version: ruby_version, anchor: method_anchor(m)) %></h4/>
          <% else %>
            <%= link_to object_path(version: ruby_version, anchor: method_anchor(m)) do %>
              <% m.call_sequence.each do |seq| %>
                <h4 class="lg:text-2xl text-lg font-bold"><%= seq %></h4/>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="w-full md:w-6/12 md:text-right mt-3 md:mt-0">
          <% if m.instance_method? %>
          <span class="py-1 px-2 rounded bg-gray-100 text-gray-600 text-sm">Instance Method</span>
          <% elsif m.class_method? %>
          <span class="py-1 px-3 rounded bg-gray-100 text-gray-600 text-sm">Class Method</span>
          <% end %>
          <span class="py-1 px-2 rounded bg-gray-100 text-gray-600 text-sm"><a href="<%= github_url m %>" target="_blank"><i class="fas fa-link"></i> View on Github</a></span>
        </div>
      </div>
      <div class="ruby-documentation py-1">
        <% if m.description.empty? %>
          <div>No documentation available</div>
        <% else %>
          <%= raw m.description %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
