<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "Ruby API - #{yield(:title)} (v#{ruby_version})" : "Ruby API (v#{ruby_version})" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Easily find and browse Ruby classes, modules and methods" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.typekit.net/rlz4lcu.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133352312-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133352312-1');
    </script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <main role="main">
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
