<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "Ruby API - #{yield(:title)} (v#{ruby_version})" : "Ruby API (v#{ruby_version})" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Easily find and browse Ruby classes, modules and methods" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.typekit.net/rlz4lcu.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="container <%= "container--homepage" if homepage? %>">
      <%= render 'layouts/header' unless homepage? %>
      <main role="main">
        <%= yield %>
      </main>
      <%= render 'layouts/footer' unless homepage? %>
    </div>
  </body>
</html>
