<!doctype html>
<html lang="en" class="<%= Current.theme.name %>">
  <head>
    <%= raw Current.theme.meta %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "theme" if Current.theme.dynamic? %>
  </head>
  <body class="bg-white text-gray-700 dark:bg-gray-800 dark:text-gray-300">
    <%= yield %>
  </body>
</html>
